<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="BikerStriker.Properties.Settings.SqlServer" connectionString="Data Source=localhost;Initial Catalog=BikerStriker;Persist Security Info=True;User ID=sa;Password=123456;Encrypt=False"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>